@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
  Note: The styles for this gradient grid background is heavily inspired by the creator of this amazing site (https://dub.sh) – all credits go to them! 
*/
.main {
    position: relative;
    width: 100%;
    max-width: 1400px;
    min-height: 100vh;
    margin: 0 auto;
}
@media screen and (max-width: 640px) {
    .main {
        padding: 0;
    }
}

.fade-in {
    opacity: 0;
    animation-name: fade-in;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}







a {
    @apply transition-colors duration-150;
}


.flex-center {
    @apply flex justify-center items-center;
}
.flex-start {
    @apply flex justify-start items-start;
}
.flex-end {
    @apply flex justify-end items-center;
}
.flex-between {
    @apply flex justify-between items-center;
}
