@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
  Note: The styles for this gradient grid background is heavily inspired by the creator of this amazing site (https://dub.sh) – all credits go to them! 
*/
.main {
    position: relative;
    width: 100%;
    max-width: 1400px;
    min-height: 100vh;
    margin: 0 auto;
}
@media screen and (max-width: 640px) {
    .main {
        padding: 0;
    }
}

.fade-in {
    opacity: 0;
    animation-name: fade-in;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.fade-out {
    opacity: 1;
    animation-name: fade-out;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    z-index: 99999;
}

.modal-image {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
}

.prev-button,
.next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    z-index: 99999;
}

.prev-button {
    left: 10px;
}

.next-button {
    right: 10px;
}

.p_kayak {
    text-shadow: 0 0 1px #00b0bd;
    @apply text-center w-max text-[13px] border-b-2 border-[#005719] text-[#005719] shadow-[#00B0BD] font-bold mx-auto rounded-sm -tracking-wide uppercase;
}
.Link_kayak {
    text-shadow: 0 0 1px #00b0bd;
    @apply text-center w-max text-sm text-[#005719] font-bold mx-auto rounded-sm;
}

a {
    @apply transition-colors duration-150;
}
.btn_main {
    @apply border-2 border-[#0191AE] bg-[#046C65] text-white px-6 py-2 rounded-3xl font-medium;
}
.btn_main:hover {
    @apply bg-green-600;
}

.orange_gradient {
    @apply bg-gradient-to-r from-amber-500 font-bold via-orange-600 to-yellow-500 bg-clip-text text-transparent;
}

.flex-center {
    @apply flex justify-center items-center;
}
.flex-start {
    @apply flex justify-start items-start;
}
.flex-end {
    @apply flex justify-end items-center;
}
.flex-between {
    @apply flex justify-between items-center;
}
